@font-face {
  font-family: "audiowide";
  src: URL("Audiowide-Regular.ttf") format("truetype");
}

body {
  background: url(../img/gymImg2.jpg);
  background-repeat: no-repeat;
  /* background-size: 100% 120%; */
  background-size: cover;
  /* object-fit: fill; */
  font-family: audiowide;
}
.navbar .active {
  color: rgb(255, 255, 255);
  /* text-shadow:2px 2px 10px rgb(255, 255, 255); */
  font-size: 30px;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  cursor: pointer;
}
.navbar {
  background-color: black;
  /* border: 1px solid red; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 90px;
}
.navbar img {
  /* border: 5px solid red; */
  filter: invert(1);
  width: 80px;
  height: 80px;
  margin-left: 33px;
}
.navbar ul {
  color: white;
  /* text-decoration: none; */
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.navbar li {
  display: inline;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}
.navbar li:hover {
  color: rgb(255, 255, 255);
  /* text-shadow:2px 2px 10px rgb(255, 255, 255); */
  font-size: 30px;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  cursor: pointer;
}
.navbar a {
  color: inherit;
  text-decoration: inherit;
}
.form {
  width: 40%;
  margin: 0px auto;
  margin-top: 50px;
}
.form div {
  font-size: 20px;
  /* border: 2px solid red; */
  padding: 8px;
  font-weight: bold;
}
.form div input {
  padding: 10px;
  margin-left: 20px;
  border-radius: 20px;
  font-weight: inherit;
  font-size: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}
button {
  font-size: inherit;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  margin-left: 150px;
}
button#submit:hover {
  transform: scaleX(1.2);
  /* background-color: black;
    color: white; */
  filter: invert(1);
}
